{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <!-- <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-product').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="submit" form="form-product" formaction="{{ copy }}" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-default"><i class="fa fa-copy"></i></button>
        <button type="button" form="form-product" formaction="{{ delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-product').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div> -->
      <h1>Report Corso</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div id="filter-product" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> Filtri</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-date-available">Data</label>
                  <div class="input-group date">
                    <input type="text" name="date_available" value="{{ date_available }}" placeholder="{{ entry_date_available }}" data-date-format="YYYY-MM-DD" id="input-date-available" class="form-control"/> <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                    </span></div>
              </div>
            <div class="form-group">
              <input type="hidden" name="corso_id" value="{{ corso_id }}" id="corso_id" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-status">Aula</label>
              <select name="aula_id" id="input-status" class="form-control">
              	<option value="0">Tutte</option>
	              {% for aula in arrAula %}
	              	<option value="{{ aula.id }}">{{ aula.name }}</option>
	              {% endfor %}
              </select>
            </div>
            <div class="form-group text-right">
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> Filtra</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-pull-3 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> Report corso</h3>
          </div>
          <div class="panel-body">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                <tr>
                  <td class="text-left">Nominativo</td>
                  <td class="text-left">Aula</td>
                  <td class="text-left">Ora Ingresso</td>
                  <td class="text-left">Ora Uscita</td>
                  <td class="text-left">Durata</td>
                </tr>
              </thead>
              <tbody>
                {% if utentiCorso %}
                {% for utenteCorso in utentiCorso %}
                <tr>
                  <td class="text-left">{{ utenteCorso.nome }} &nbsp; {{ utenteCorso.cognome }}</td>
                  <td class="text-left">{{ utenteCorso.nomeAula }}</td>
                  <td class="text-left">{{ utenteCorso.oraIngresso }}</td>
                  <td class="text-left">{{ utenteCorso.oraUscita }}</td>
                  <td class="text-left">{{ utenteCorso.intervallo }}</td>
                  </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
                  
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';
	
	var corso_id = $('input[name=\'corso_id\']').val();
	
	url += '&corso_id=' + encodeURIComponent(corso_id);
	
	var filter_aula = $('select[name=\'aula_id\']').val();

	if (filter_aula !== '') {
		url += '&filter_aula=' + encodeURIComponent(filter_aula);
	}

	location = 'index.php?route=moodle/corso/reportCorso&user_token={{ user_token }}' + url;
	
});
//--></script> 
  <script type="text/javascript"><!--
// IE and Edge fix!
$('button[form=\'form-product\']').on('click', function(e) {
	$('#form-product').attr('action', $(this).attr('formaction'));
});
  
$('.date').datetimepicker({
			  language: '{{ datepicker }}',
			  pickTime: false
		  });

//--></script></div>
{{ footer }} 