{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a> <a href="{{ repair }}" data-toggle="tooltip" title="{{ button_rebuild }}" class="btn btn-default"><i class="fa fa-refresh"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-category').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>Corsi</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Lista corsi</h3>
      </div>
      <div class="panel-body">
        <form action="{{ stampa }}" method="post" enctype="multipart/form-data" id="form-category">
        
        <input type="hidden" name="enterprise" value="{{ enterprise }}" />
        <input type="hidden" name="platf" value="{{ platf }}" />
        <input type="hidden" name="start" value="{{ start }}" />
        <input type="hidden" name="end" value="{{ end }}" />
        <input type="hidden" name="scarica" value="{{ scarica }}" />
        
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'name' %}
                    <a href="{{ sort_name }}" class="{{ order|lower }}">Id Utente</a>
                    {% else %}
                    <a href="{{ sort_name }}">Id Utente</a>
                    {% endif %}</td>
                  <td class="text-right">{% if sort == 'sort_username' %}
                    <a href="{{ sort_username }}" class="{{ order|lower }}">Username</a>
                    {% else %}
                    <a href="{{ sort_username }}">Username</a>
                    {% endif %}</td>
                  <td class="text-right">Nome cognome</td>
                  <td class="text-right">Codice fiscale</td>
                  <td class="text-right">Email</td>
                  <td class="text-right">Data di nascita</td>
                  <td class="text-right">Luogo di nascita</td>
                  <td class="text-right">Telefono</td>
                  <td class="text-right">Azienda</td>
                  <td class="text-right">Tempo cumulato</td>
                  {% for giorno in giorni %}
                  	<td class="text-right">{{ giorno }}</td>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% if arrTempoInPiattaforma %}
                {% for row in arrTempoInPiattaforma %}
                <tr>
                  <td class="text-center">{% if row.userid in selected %}
                    <input type="checkbox" name="selected[]" value="{{ row.userid }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ row.userid }}" />
                    {% endif %}</td>
                    
                    {% for valori in row %}
                    	<td class="text-left">{{ valori }}</td>
                    {% endfor %}
                  <!-- <td class="text-left">{{ row.userid }}</td>
                  <td class="text-left">{{ row.username }}</td>
                  <td class="text-right">{{ row.name }}</td>
                  <td class="text-right">{{ row.cf }}</td>
                  <td class="text-right">{{ row.email }}</td>
                  <td class="text-right">{{ row.data_nascita }}</td>
                  <td class="text-right">{{ row.citta }}</td>
                  <td class="text-right">{{ row.telefono }}</td>
                  <td class="text-right">{{ row.azienda }}</td>
                  <td class="text-right">{{ row.tempoCumulato }}</td> -->
                  
                  
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}